body {
  font-family: "Jetbrain Mono", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 30px;
}
li {
  margin-top: 15px;
  padding: 15px;
  background-color: #f9e3ba;
}

#content {
  margin-top: 80px;
  padding: 25px;
}

a:hover {
  color: red;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
